
/* 主模块 start */
.itemModule__root {
	min-height: 600px
}

.itemModule__root .itemModule__shopSurveyContainer:after,
.itemModule__root .itemModule__shopSurveyContainer:before {
	content: " ";
	display: table
}

.itemModule__root .itemModule__shopSurveyContainer:after {
	clear: both
}

.itemModule__root .itemModule__shopSurveyContainer .itemModule__liveSurvey {
	float: left;
	width: 70%;
	padding-right: 10px
}

.itemModule__root .itemModule__shopSurveyContainer .itemModule__shopSurvey {
	float: left;
	width: 30%
}

.itemModule__root .itemModule__operatorFlowTable .fmui-table-th.fmui-table-col-uv {
	padding-right: 60px
}

.itemModule__root .itemModule__managerWindow .fmui-card-content,
.itemModule__root .itemModule__operatorWindow .fmui-card-content {
	padding-top: 30px
}

.itemModule__root .itemModule__modernCardHeader .fm-Switch__root {
	float: right!important;
	position: relative
}

.itemModule__root .itemModule__modernCardHeader .fm-Switch__root:before {
	content: " ";
	position: absolute;
	width: 1px;
	height: 12px;
	background: #e6e6e6;
	left: 53px;
	top: 19px
}

.itemModule__root .itemModule__modernCardHeader .fm-Switch__item {
	position: relative;
	margin-left: 20px
}

.itemModule__root .itemModule__modernCardHeader .fm-Switch__activeItem:before {
	display: none
}

.itemModule__root .fm-CommonFilter__filter .fm-DatePicker__root .fm-DatePicker__main {
	font-weight: 700
}

.itemModule__root .fm-ModernDatePicker__root .fm-ModernDatePicker__displayText {
	min-width: 370px
}

.itemModule__root .itemModule__topBadPingjiaTitle {
	padding: 0 0 8px;
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	font-family: Microsoft YaHei, SimHei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif
}

.itemModule__root .itemModule__pingjiaPlaceholder {
	position: relative;
	width: 100%;
	height: 300px
}

.itemModule__root .itemModule__pingjiaPlaceholder .fm-Message__content {
	box-shadow: none
}

.itemModule__root .itemModule__pingjiaOverview .indexes-trend-1688-index-container {
	margin-bottom: 0
}

.itemModule__root .itemModule__pingjiaOverview .indexes-trend-1688-index-container .fmui-indexCell {
	padding-top: 0;
	padding-bottom: 0
}

.itemModule__root .itemModule__pingjiaOverview .indexes-trend-1688-chart-container {
	height: 266px
}

.itemModule__root .itemModule__topBadPingjia .tableContainer {
	padding: 0
}

.itemModule__root .itemModule__topBadPingjia .tableContainer .fm-Table__root {
	height: 336px
}

.itemModule__root .itemModule__topBadPingjia .tableContainer .fm-Table__root .fm-Table__table .fm-Table__th {
	padding: 8px 0
}

.itemModule__root .itemModule__topBadPingjia .tableContainer .fm-Table__root .fm-Table__table .GoodsTd {
	width: 220px
}

.itemModule__root .itemModule__topBadPingjia .tableContainer .fm-Table__root .fm-Table__table .GoodsTd .fm-GoodsTd__root .fm-GoodsTd__goodsInfo {
	width: 162px
}

.itemModule__yunyingRocket {
	-webkit-animation-duration: 1s!important;
	animation-duration: 1s!important;
	-webkit-animation-delay: 1s!important;
	animation-delay: 1s!important;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
/* 主模块 end */
/* 实时概况  start*/
.fmcard-realtime-survey {
	min-height: 282px
}

.fmcard-realtime-survey .updateTime {
	color: #999
}

.fmcard-realtime-survey .fmui-card-header-wrapper {
	border-bottom: none
}

.fmcard-realtime-survey .content {
	width: 100%;
	padding-bottom: 0;
	min-height: 232px
}

.fmcard-realtime-survey .content .index-cell {
	margin: 10px 0 16px
}

.fmcard-realtime-survey .content .index-cell .fmui-icon {
	float: left;
	font-size: 48px;
	margin-right: 12px;
	color: rgba(32, 98, 230, .6);
	vertical-align: middle;
	line-height: 1em
}

.fmcard-realtime-survey .content .index-cell .index-value-wrapper {
	float: left
}

.fmcard-realtime-survey .content .index-cell .index-value-wrapper .index-value-title {
	line-height: 20px
}

.fmcard-realtime-survey .content .index-cell .index-name {
	font-size: 14px;
	width: 100%;
	height: 52px
}

.fmcard-realtime-survey .content .index-cell .index-value {
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	width: 100%
}

.fmcard-realtime-survey .content .index-cell .compare-value {
	color: #666;
	line-height: 20px;
	height: 20px;
	width: 100%
}

.fmcard-realtime-survey .content .index-cell .compare-value .compare-name {
	color: #999;
	margin-right: 12px
}

.fmcard-realtime-survey .content .index-cell.uv .fmui-icon {
	color: #fe7c24
}

.fmcard-realtime-survey .content .index-cell.pv .fmui-icon {
	color: #f3d024
}

.fmcard-realtime-survey .content .index-cell.payOrdCnt .fmui-icon {
	color: #00b3fe
}

.fmcard-realtime-survey .content .index-cell.payByrCnt .fmui-icon {
	color: #00ba26
}

.fmcard-realtime-survey .content .index-cell.payByrCnt .sub-index-wrapper,
.fmcard-realtime-survey .content .index-cell.payOrdCnt .sub-index-wrapper,
.fmcard-realtime-survey .content .index-cell.pv .sub-index-wrapper,
.fmcard-realtime-survey .content .index-cell.uv .sub-index-wrapper {
	position: relative
}

.fmcard-realtime-survey .content .index-cell.payByrCnt .rank-value,
.fmcard-realtime-survey .content .index-cell.payOrdCnt .rank-value,
.fmcard-realtime-survey .content .index-cell.pv .rank-value,
.fmcard-realtime-survey .content .index-cell.uv .rank-value {
	position: absolute;
	top: 0;
	left: 114px
}

.fmcard-realtime-survey .content .index-cell.payByrCnt .rank-value .compare-name,
.fmcard-realtime-survey .content .index-cell.payOrdCnt .rank-value .compare-name,
.fmcard-realtime-survey .content .index-cell.pv .rank-value .compare-name,
.fmcard-realtime-survey .content .index-cell.uv .rank-value .compare-name {
	margin-right: 6px
}

.fmcard-realtime-survey .content .payAmt .index-cell {
	float: left;
	width: 100%;
	margin-bottom: 0;
	margin-top: 6px
}

.fmcard-realtime-survey .content .payAmt .index-cell .fmui-icon {
	color: #2062e6
}

.fmcard-realtime-survey .content .payAmt .index-cell .index-name {
	float: left;
	width: auto
}

.fmcard-realtime-survey .content .payAmt .index-cell .sub-index-wrapper {
	float: right;
	width: auto
}

.fmcard-realtime-survey .content .payAmt .index-cell .index-value {
	font-size: 24px
}

.fmcard-realtime-survey .content .payAmt .index-cell .index-value .fm-human-number {
	font-size: 32px
}

.fmcard-realtime-survey .content .payAmt .index-cell .index-value .fm-human-number .fm-human-number-unit {
	font-size: .375em
}

.fmcard-realtime-survey .content .legend {
	margin-top: 10px;
	line-height: 26px;
	margin-right: 6px
}

.fmcard-realtime-survey .content .legend .square {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 4px
}

.fmcard-realtime-survey .content .legend .today {
	margin-right: 20px
}

.fmcard-realtime-survey .content .legend .today .square {
	background-color: #2062e6
}

.fmcard-realtime-survey .content .legend .compare .square {
	background-color: #cecece
}

.fmcard-realtime-survey .content .part-left {
	float: left;
	width: 50%;
	padding-right: 14px
}

.fmcard-realtime-survey .content .part-left .chart-container {
	height: 114px
}

.fmcard-realtime-survey .content .part-left .chart-container .recharts-tooltip-wrapper {
	z-index: 100
}

.fmcard-realtime-survey .content .part-left .chart-container .recharts-tooltip-wrapper .recharts-default-tooltip {
	border: none!important;
	box-shadow: 0 3px 12px rgba(0, 0, 0, .1)
}

.fmcard-realtime-survey .content .part-left .chart-container .recharts-y-axis .recharts-cartesian-axis-ticks .recharts-cartesian-axis-tick:first-child {
	display: none
}

.fmcard-realtime-survey .content .part-right {
	float: right;
	width: 50%;
	padding-left: 14px
}

.fmcard-realtime-survey .content .part-right .index-cell {
	float: left;
	width: 50%;
	height: 90px;
	overflow: hidden
}

.fmcard-realtime-survey .content .part-right .index-cell:first-child,
.fmcard-realtime-survey .content .part-right .index-cell:nth-child(2) {
	margin-top: 6px
}

.fmcard-realtime-survey .content .part-right .index-cell:nth-child(2n) {
	padding-left: 4%
}

@media (min-width:1480px) {
	.fmcard-realtime-survey .content .part-left {
		width: 54%;
		padding-right: 30px
	}
	.fmcard-realtime-survey .content .part-right {
		width: 44%;
		padding-left: 30px
	}
}

/* 店铺概况  start*/
.fmcard-shop-survey {
	width: 100%;
	min-height: 282px;
	height: 282px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .1)
}

.fmcard-shop-survey .updateTime {
	color: #999
}

.fmcard-shop-survey .content {
	height: 232px
}

.fmcard-shop-survey .fmui-card-title {
	width: 150px;
	height: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.fmcard-shop-survey .fm-TooltipContent__root {
	padding: 6px
}

.fmcard-shop-survey .fm-TooltipContent__root .fm-TooltipContent__legendContentList>li {
	min-width: 60px
}

.fmcard-shop-survey .fm-TooltipContent__root .fm-TooltipContent__legendContentList>li .fm-TooltipContent__value {
	float: none;
	margin-left: 0
}

.fmcard-shop-survey .fmui-card-header-wrapper {
	border-bottom: none
}

.fmcard-shop-survey .fmui-slider .fmui-slider-head {
	right: 30px
}

.fmcard-shop-survey .fmui-slider .fmui-slider-head .fmui-slider-trigger {
	width: 16px;
	height: 2px;
	background-color: #ececec;
	content: " ";
	font-size: 0;
	opacity: 1
}

.fmcard-shop-survey .fmui-slider .fmui-slider-head .fmui-slider-trigger.fmui-slider-active {
	opacity: .6;
	background-color: #2062e6
}

.fmcard-shop-survey .month-rank-content .part-top {
	margin-bottom: 30px
}

.fmcard-shop-survey .month-rank-content .month-rank .unit {
	margin-left: 4px
}

.fmcard-shop-survey .month-rank-content .month-rank .cate-rank {
	margin-top: 13px;
	line-height: 18px
}

.fmcard-shop-survey .month-rank-content .month-rank .cate-rank .fmui-icon {
	opacity: .6;
	color: #2062e6;
	font-size: 14px;
	vertical-align: middle
}

.fmcard-shop-survey .month-rank-content .month-rank .cate-rank .fmui-icon.fmui-active {
	opacity: 1
}

.fmcard-shop-survey .month-rank-content .month-rank .cate-rank .detail {
	color: #666;
	margin-right: 2px
}

.fmcard-shop-survey .month-rank-content .month-rank .index-change-rate .title {
	color: #666;
	margin-right: 10px
}

.fmcard-shop-survey .trend-container {
	float: left;
	width: 46%;
	margin-top: 6px
}

.fmcard-shop-survey .trend-container .month-trend {
	width: 100%;
	height: 62px
}

.fmcard-shop-survey .trend-container .cate-name {
	line-height: 24px;
	width: 100%;
	color: #666
}

.fmcard-shop-survey .main-index {
	float: left;
	width: 54%;
	margin-top: 6px
}

.fmcard-shop-survey .main-index .index-title {
	font-size: 14px;
	line-height: 26px
}

.fmcard-shop-survey .main-index .index-detail {
	margin-right: 6px
}

.fmcard-shop-survey .main-index .index-detail .index-value {
	font-size: 24px;
	line-height: 36px
}

.fmcard-shop-survey .main-index .index-detail .index-value.fontSize16 {
	font-size: 16px
}

.fmcard-shop-survey .main-index .index-detail .index-value.fontSize18 {
	font-size: 18px
}

.fmcard-shop-survey .progress {
	margin-top: 10px
}

.fmcard-shop-survey .progress .progress-header .progress-title {
	float: left;
	font-size: 14px;
	line-height: 26px
}

.fmcard-shop-survey .progress .progress-header .progress-link {
	float: right;
	color: #333
}

.fmcard-shop-survey .progress .progress-header .progress-link>i {
	font-weight: 700;
	margin-left: 5px
}

.fmcard-shop-survey .progress .progress-header .progress-link:focus,
.fmcard-shop-survey .progress .progress-header .progress-link:hover {
	color: #33a0ff
}

.fmcard-shop-survey .progress .progress-texts,
.fmcard-shop-survey .progress .setting-target {
	line-height: 36px;
	height: 36px
}

.fmcard-shop-survey .progress .progress-texts .percentage,
.fmcard-shop-survey .progress .setting-target .percentage {
	float: left;
	font-size: 24px
}

.fmcard-shop-survey .progress .progress-texts .progress-text,
.fmcard-shop-survey .progress .setting-target .progress-text {
	float: right;
	font-size: 24px
}

.fmcard-shop-survey .progress .progress-texts .progress-text .unit,
.fmcard-shop-survey .progress .setting-target .progress-text .unit {
	font-size: 12px
}

.fmcard-shop-survey .progress .fmui-progress.fmui-progress-sm {
	margin-top: 8px;
	height: 8px;
	width: 100%;
	overflow: hidden
}

.fmcard-shop-survey .activity-card .activity-date {
	line-height: 24px;
	color: #999
}

.fmcard-shop-survey .activity-card .activity-status {
	float: left!important;
	margin-left: 8px;
	margin-top: 18px;
	width: 46px;
	height: 16px;
	color: #fff;
	border-radius: 2px;
	text-align: center;
	line-height: 16px
}

.fmcard-shop-survey .activity-card .activity-status.preheat {
	background-color: #f3d024
}

.fmcard-shop-survey .activity-card .activity-status.active {
	background-color: #ff8441
}

.fmcard-shop-survey.card-item-rank .fm-Table__root {
	min-height: 200px
}

.fmcard-shop-survey.card-item-rank .fm-Table__root .fm-Table__table .fm-Table__th {
	padding-top: 0
}

.fmcard-shop-survey.card-item-rank .fm-Table__root .fm-Table__table .GoodsTd {
	width: 200px
}

.fmcard-shop-survey.card-item-rank .fm-Table__root .fm-Table__table .GoodsTd .fm-GoodsTd__root .fm-GoodsTd__goodsInfo {
	width: 142px
}

.fmcard-shop-survey.card-item-rank .fm-Table__root .fm-Table__table .GoodsTd .fm-GoodsTd__root .fm-GoodsTd__goodsInfo .fm-GoodsTd__goodsName {
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.fmcard-shop-survey.card-item-rank .fm-Table__root .fm-Table__table .GoodsTd .fm-GoodsTd__root .fm-GoodsTd__goodsInfo .fm-GoodsTd__goodsName a {
	white-space: nowrap
}

/* 操作窗口  START */
.fmcard-operator-core-index {
	min-height: 514px
}

.fmcard-operator-core-index.chart .fm-Card__headerWrapper {
	border-bottom: none
}

.fmcard-operator-core-index.chart .fm-CardContent__root {
	padding-bottom: 20px
}

.fmcard-operator-core-index.table .fm-CardContent__root {
	padding: 0
}

.fmcard-operator-core-index .fm-Card__title .fmui-icon {
	margin-right: 10px
}

.fmcard-operator-core-index .fmui-checkbox {
	margin-top: -2px
}

.fmcard-operator-core-index .fm-IndexTab__tab {
	overflow: hidden;
	padding: 20px 8px
}

.fmcard-operator-core-index .fm-IndexTab__root .fm-IndexTab__tab .fm-IndexCell__root .fm-IndexCell__indexChange {
	width: auto
}

.fmcard-operator-core-index .fmui-indexCell {
	padding: 0;
	width: 100%
}

.fmcard-operator-core-index .fmui-indexCell .fmui-indexCell-indexChange {
	width: 100%;
	line-height: 22px;
	height: 22px
}

.fmcard-operator-core-index .fmui-indexCell .fmui-indexCell-indexChange .fmui-icon.fmui-icon-error.fmui-indexCell-errorIcon {
	margin-bottom: -2px
}

.fmcard-operator-core-index .module-chart {
	height: 450px
}

.fmcard-operator-core-index .chart-container {
	position: relative;
	margin-top: 15px;
	overflow: hidden
}

.fmcard-operator-core-index .chart-container .month-value,
.fmcard-operator-core-index .chart-container .multi-indexes-reset {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 30px
}

.fmcard-operator-core-index .chart-container .month-value .selected,
.fmcard-operator-core-index .chart-container .multi-indexes-reset .selected {
	margin-right: 8px;
	z-index: 60;
	color: #999
}

.fmcard-operator-core-index .chart-container .activity-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 66px
}

.fmcard-operator-core-index .chart-container .activity-container .activity-list {
	position: absolute;
	top: 66px
}

.fmcard-operator-core-index .chart-container .activity-container .activity-list .activity {
	line-height: 22px
}

.fmcard-operator-core-index .chart-container .activity-container .activity-list .activity .legend {
	display: inline-block;
	width: 8px;
	height: 4px;
	margin-top: -3px;
	background-color: #c0cbe3;
	margin-right: 4px;
	vertical-align: middle
}

.fmcard-operator-core-index .chart-container .activity-container.activity-month .activity-list .activity {
	padding-right: 10px
}

.fmcard-operator-core-index .chart-container .activity-container.activity-day .activity {
	position: absolute
}

.fmcard-operator-core-index .chart-container .activity-container.activity-day .activity .activity-name {
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.fmcard-operator-core-index .chart-container .activity-container.activity-day .activity .activity-bar {
	width: 100%;
	height: 4px;
	background-color: #c0cbe3
}
/* 操作窗口 END */
.fmui-card-title {
	font-weight: 400
}